.footer {
  height: 10vh;
  width: 100%;
  background-color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid $color-secondary-light;

  img {
    height: 2.8rem;
    width: 2.8rem;
  }
}
