.home {
  padding: 4rem 4rem;
  background-color: $color-secondary-light;
  height: 100rem;
  position: relative;
  @include respond(phone) {
    padding: 2rem 0.5rem;
  }

  &__container {
    position: relative;
    height: auto;
    min-height: 100vh;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: space-around;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // background-color: green;
    gap: 1rem;

    &__button {
      font-family: 'Montserrat', sans-serif;

      outline: none;
      border: none;
      position: absolute;
      background-color: $color-black;
      font-size: 2.4rem;
      font-weight: 10rem;
      color: white;
      letter-spacing: 0.5rem;
      padding: 1rem 4rem;
      top: -5%;
      left: 50%;
      transform: translate(-50%, 0);
      box-shadow: 0 1.2rem $color-grey-dark-3;
      border-radius: 2rem 2rem;
      @include respond(phone) {
        padding: 1rem 2.5rem;
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
      }
    }
  }
}
