.home {
  padding: 4rem 4rem;
  background-color: rgba(255, 201, 4, 0.5);
  height: auto;
  min-height: 100rem;
  position: relative;
  @include respond(phone) {
    padding: 2rem 0.5rem;
  }

  &.home__container__card {
    margin-top: 4rem !important;
  }

  &__container {
    position: relative;
    height: auto;
    min-height: 100%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: space-around;
    border-radius: 1rem;

    background-color: white;
    padding-top: 2rem;
    padding-bottom: 4rem;
    // background-color: green;
    gap: 2.4rem;
  }
}
