<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <script
      src="https://kit.fontawesome.com/f9bbc55cd0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="nav">
      <div class="nav__logo">
        <img class="nav__logo__img" src="../img/try.png"></img>
        <span class="nav__logo__title">Knightfinder</span>
      </div>
      <input type="checkbox" class="nav__link-toggle" id="nav-toggle" />
      <nav class="nav__item-container">
        
        
        <a href="#" class="nav__item-container__link u-margin-right-small">Logout</a>
      </nav>
      <label for="nav-toggle" class="nav__toggle-label">
        <span></span>
      </label>
    </header>
    <div class="home">
        <div class="home__container">
            <button class="home__container__button">
                My profile  
            </button>
            <div class="home__container__card contact-card">
              <div class="contact-card__header-image">
                <div class="contact-card__avatar"></div>
              </div>
              <p class="contact-card__name">Callum Brown</p>
              <ul>
                <li class="contact-card__link contact-card__link--email"><a title="Email Callum Brown" href="mailto:">&#128241 cabrown96@live.com</a></li>
                <li class="contact-card__link contact-card__link--mobile"><a title="Call Callum Brown" href="tel:">&#128231 +1 123-456-7890</a></li>
              </ul>
              <ul class="contact-card__footer">
                <li class="contact-card__footer__link contact-card__footer__link--twitter"><a title="Link to Callum Brown's Twitter profile" href="https://twitter.com/callumbrown___"><i class="fa fa-twitter"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--linkedin"><a title="Link to Callum Brown's LinkedIn profile" href="https://www.linkedin.com/in/callumbrown---/"><i class="fa fa-linkedin"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--codepen"><a title="Link to Callum Brown's Codepen profile" href="https://codepen.io/callumbrown___"><i class="fa fa-codepen"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--dribbble"><a title="Link to Callum Brown's Dribbble profile" href="https://dribbble.com/callumbrown___"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>

            <div class="home__container__card contact-card">
              <div class="contact-card__header-image">
                <div class="contact-card__avatar"></div>
              </div>
              <p class="contact-card__name">Callum Brown</p>
              <ul>
                <li class="contact-card__link contact-card__link--email"><a title="Email Callum Brown" href="mailto:">&#128241 cabrown96@live.com</a></li>
                <li class="contact-card__link contact-card__link--mobile"><a title="Call Callum Brown" href="tel:">&#128231 +1 123-456-7890</a></li>
              </ul>
              <ul class="contact-card__footer">
                <li class="contact-card__footer__link contact-card__footer__link--twitter"><a title="Link to Callum Brown's Twitter profile" href="https://twitter.com/callumbrown___"><i class="fa fa-twitter"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--linkedin"><a title="Link to Callum Brown's LinkedIn profile" href="https://www.linkedin.com/in/callumbrown---/"><i class="fa fa-linkedin"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--codepen"><a title="Link to Callum Brown's Codepen profile" href="https://codepen.io/callumbrown___"><i class="fa fa-codepen"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--dribbble"><a title="Link to Callum Brown's Dribbble profile" href="https://dribbble.com/callumbrown___"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
            <div class="home__container__card contact-card">
              <div class="contact-card__header-image">
                <div class="contact-card__avatar"></div>
              </div>
              <p class="contact-card__name">Callum Brown</p>
              <ul>
                <li class="contact-card__link contact-card__link--email"><a title="Email Callum Brown" href="mailto:">&#128241 cabrown96@live.com</a></li>
                <li class="contact-card__link contact-card__link--mobile"><a title="Call Callum Brown" href="tel:">&#128231 +1 123-456-7890</a></li>
              </ul>
              <ul class="contact-card__footer">
                <li class="contact-card__footer__link contact-card__footer__link--twitter"><a title="Link to Callum Brown's Twitter profile" href="https://twitter.com/callumbrown___"><i class="fa fa-twitter"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--linkedin"><a title="Link to Callum Brown's LinkedIn profile" href="https://www.linkedin.com/in/callumbrown---/"><i class="fa fa-linkedin"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--codepen"><a title="Link to Callum Brown's Codepen profile" href="https://codepen.io/callumbrown___"><i class="fa fa-codepen"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--dribbble"><a title="Link to Callum Brown's Dribbble profile" href="https://dribbble.com/callumbrown___"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
            <div class="home__container__card contact-card">
              <div class="contact-card__header-image">
                <div class="contact-card__avatar"></div>
              </div>
              <p class="contact-card__name">Callum Brown</p>
              <ul>
                <li class="contact-card__link contact-card__link--email"><a title="Email Callum Brown" href="mailto:">&#128241 cabrown96@live.com</a></li>
                <li class="contact-card__link contact-card__link--mobile"><a title="Call Callum Brown" href="tel:">&#128231 +1 123-456-7890</a></li>
              </ul>
              <ul class="contact-card__footer">
                <li class="contact-card__footer__link contact-card__footer__link--twitter"><a title="Link to Callum Brown's Twitter profile" href="https://twitter.com/callumbrown___"><i class="fa fa-twitter"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--linkedin"><a title="Link to Callum Brown's LinkedIn profile" href="https://www.linkedin.com/in/callumbrown---/"><i class="fa fa-linkedin"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--codepen"><a title="Link to Callum Brown's Codepen profile" href="https://codepen.io/callumbrown___"><i class="fa fa-codepen"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--dribbble"><a title="Link to Callum Brown's Dribbble profile" href="https://dribbble.com/callumbrown___"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
            <div class="home__container__card contact-card">
              <div class="contact-card__header-image">
                <div class="contact-card__avatar"></div>
              </div>
              <p class="contact-card__name">Callum Brown</p>
              <ul>
                <li class="contact-card__link contact-card__link--email"><a title="Email Callum Brown" href="mailto:">&#128241 cabrown96@live.com</a></li>
                <li class="contact-card__link contact-card__link--mobile"><a title="Call Callum Brown" href="tel:">&#128231 +1 123-456-7890</a></li>
              </ul>
              <ul class="contact-card__footer">
                <li class="contact-card__footer__link contact-card__footer__link--twitter"><a title="Link to Callum Brown's Twitter profile" href="https://twitter.com/callumbrown___"><i class="fa fa-twitter"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--linkedin"><a title="Link to Callum Brown's LinkedIn profile" href="https://www.linkedin.com/in/callumbrown---/"><i class="fa fa-linkedin"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--codepen"><a title="Link to Callum Brown's Codepen profile" href="https://codepen.io/callumbrown___"><i class="fa fa-codepen"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--dribbble"><a title="Link to Callum Brown's Dribbble profile" href="https://dribbble.com/callumbrown___"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
            <div class="home__container__card contact-card">
              <div class="contact-card__header-image">
                <div class="contact-card__avatar"></div>
              </div>
              <p class="contact-card__name">Callum Brown</p>
              <ul>
                <li class="contact-card__link contact-card__link--email"><a title="Email Callum Brown" href="mailto:">&#128241 cabrown96@live.com</a></li>
                <li class="contact-card__link contact-card__link--mobile"><a title="Call Callum Brown" href="tel:">&#128231 +1 123-456-7890</a></li>
              </ul>
              <ul class="contact-card__footer">
                <li class="contact-card__footer__link contact-card__footer__link--twitter"><a title="Link to Callum Brown's Twitter profile" href="https://twitter.com/callumbrown___"><i class="fa fa-twitter"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--linkedin"><a title="Link to Callum Brown's LinkedIn profile" href="https://www.linkedin.com/in/callumbrown---/"><i class="fa fa-linkedin"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--codepen"><a title="Link to Callum Brown's Codepen profile" href="https://codepen.io/callumbrown___"><i class="fa fa-codepen"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--dribbble"><a title="Link to Callum Brown's Dribbble profile" href="https://dribbble.com/callumbrown___"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
            <div class="home__container__card contact-card">
              <div class="contact-card__header-image">
                <div class="contact-card__avatar"></div>
              </div>
              <p class="contact-card__name">Callum Brown</p>
              <ul>
                <li class="contact-card__link contact-card__link--email"><a title="Email Callum Brown" href="mailto:">&#128241 cabrown96@live.com</a></li>
                <li class="contact-card__link contact-card__link--mobile"><a title="Call Callum Brown" href="tel:">&#128231 +1 123-456-7890</a></li>
              </ul>
              <ul class="contact-card__footer">
                <li class="contact-card__footer__link contact-card__footer__link--twitter"><a title="Link to Callum Brown's Twitter profile" href="https://twitter.com/callumbrown___"><i class="fa fa-twitter"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--linkedin"><a title="Link to Callum Brown's LinkedIn profile" href="https://www.linkedin.com/in/callumbrown---/"><i class="fa fa-linkedin"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--codepen"><a title="Link to Callum Brown's Codepen profile" href="https://codepen.io/callumbrown___"><i class="fa fa-codepen"></i></a></li>
                <li class="contact-card__footer__link contact-card__footer__link--dribbble"><a title="Link to Callum Brown's Dribbble profile" href="https://dribbble.com/callumbrown___"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
            
        </div>
    </div>
    <footer class="footer">
      <img src="../img/try.png"" alt="UCF LOGO">
    </footer>
    
  </body>
</html>
