<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <script
      src="https://kit.fontawesome.com/f9bbc55cd0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="nav">
      <div class="nav__logo">
        <img class="nav__logo__img" src="../img/try.png"></img>
        <span class="nav__logo__title">Knightfinder</span>
      </div>
      <input type="checkbox" class="nav__link-toggle" id="nav-toggle" />
      <nav class="nav__item-container">
        <a href="#" class="nav__item-container__link u-margin-right-small"
          >Home</a
        >
        <a href="#" class="nav__item-container__link u-margin-right-small">Sign-up</a>
        <a href="#" class="nav__item-container__link u-margin-right-small">Login</a>
      </nav>
      <label for="nav-toggle" class="nav__toggle-label">
        <span></span>
      </label>
    </header>
  </body>
</html>
