<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <script
      src="https://kit.fontawesome.com/f9bbc55cd0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="nav">
      <div class="nav__logo">
        <img class="nav__logo__img" src="../img/try.png"></img>
        <span class="nav__logo__title">Knightfinder</span>
      </div>
      <input type="checkbox" class="nav__link-toggle" id="nav-toggle" />
      <nav class="nav__item-container">
        <a href="#" class="nav__item-container__link u-margin-right-small"
          >About</a
        >
        <a href="#" class="nav__item-container__link u-margin-right-small">Sign-up</a>
        <a href="#" class="nav__item-container__link u-margin-right-small">Login</a>
      </nav>
      <label for="nav-toggle" class="nav__toggle-label">
        <span></span>
      </label>
    </header>
    <div class="login">
      <div class="login__container">
        <form class="form">
          <div class="heading">
            <h1 class="heading-primary--main">login</h1>
          </div>
          <div class="form__container">
            <input type="email" class="form__input" placeholder="email">
            <input type="password" class="form__input" placeholder="password"> 
          </div>
        </form>
      </div>
    </div>
    <div class="about">
      <h1 class="heading-primary--main u-margin-bottom-medium about-primaryheading">About</h1>
      <h2 class="paragraph about__subheading u-margin-bottom-big">KnightFinder is an app about connecting you to your fellow knights based on your interests, major, clubs, activities etc. It’s not only a fun way to meet new people, but it provides you with instant conversation material to build up social skills and relationships in a much more comfortable way, as well as reconnecting after graduation.</h2>
        <!-- <h2 class="paragraph about__subheading u-margin-bottom-medium">Knightfinder also encourages business networking by allowing you to create and promote professional networking events.</h2> -->
      <div class="about__container">
        <div class="about__card">
          <div class="card__photo card__major ">

          </div>
        </div>
        <div class="about__card">
          <div class="card__photo card__sport ">
          </div>
        </div>
        <div class="about__card">
          <div class="card__photo card__grad">

          </div>
        </div>
      </div>
    </div>
   <div class="signup">
    <form class="form">
      <div class="heading">
        <h1 class="heading-primary--main">Register</h1>
      </div>
      <div class="form__container">
        <input type="email" class="form__input" placeholder="email">
        <input type="password" name="passowrd" class="form__input" placeholder="password"> 
        <input type="password" name="password2" class="form__input" placeholder="confirm password"> 
      </div>
    </form>
   </div>
   <footer class="footer">
     <img src="../img/try.png"" alt="UCF LOGO">
   </footer>

  
  </body>
</html>
