<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <script
    src="https://kit.fontawesome.com/f9bbc55cd0.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
    <div class="about-section">
        <div class='about-section__description'>
            <div class='title'>
              <div class='hide'>
                <h2>We connect</h2>
              </div>
              <div class='hide'>
                <h2>you to your</h2>
              </div>
              <div class='hide'>
                <h2>
                  Fellow <span>knights</span>.
                </h2>
              </div>
            </div>
            <p>A complementary service for all UCF students </p>
            <button>Sign up</button>
         </div>
         <div class="image">
            <img src="../img/Major.jpg" alt="Students discussing info">
        </div>
    </div>
   
   
     <div class="services">
         <div class="description">
             <h2>Be a <span>Knight</span> forever</h2>
             <div class="cards">
                 <div class="card">
                     <div class="icon">
                        <i class="fas fa-clock"></i>
                                
                        </i>
                        <h3>lifelong account</h3>
                     </div>
                     <p>Keep your account even after graduation</p>
                 </div>
                 <div class="card">
                     <div class="icon">
                        <i class="fas fa-user-friends"></i>
                                
                        </i>
                        <h3>social circle</h3>
                     </div>
                     <p>Keep in contact with friends</p>
                 </div>
                 <div class="card">
                     <div class="icon">
                        <i class="fas fa-user-plus"></i>
                                
                        </i>
                        <h3>new connections</h3>
                     </div>
                     <p>Make new connections </p>
                 </div>
                 <div class="card">
                     <div class="icon">
                        <i class="fas fa-id-card"></i> 
                        </i>
                        <h3>profile</h3>
                     </div>
                     <p>Build a profile around you</p>
                 </div>
             </div>
         </div>
         <div class="image">
             <img src="../img/grad.jpg" alt="graduating student">
         </div>
     </div>
</body>
</html>