/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

a,
a:visited,
a:target {
  text-decoration: none;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.heading-primary--main {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 5.5rem;
  letter-spacing: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 3rem;
  /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 4.3rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.paragraph {
  font-size: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: center;
  padding: 0 1.2rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-right-small {
  margin-right: 2rem;
}

.u-margin-right-medium {
  margin-right: 5rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #b7a369;
  color: #fff;
}
.btn--green::after {
  background-color: #b7a369;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #b7a369;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #b7a369;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #b7a369;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #ead69c, #b7a369);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #ead69c, #b7a369), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(234, 214, 156, 0.85), rgba(183, 163, 105, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #ead69c, #b7a369);
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.login {
  width: 100%;
  background-image: url("../img/student.jpg");
  height: 80rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .login {
    background-size: cover;
    height: 50rem;
  }
}
.login__container {
  position: absolute;
  top: 10rem;
  left: 10rem;
  height: 70%;
  width: 35%;
}
@media only screen and (max-width: 37.5em) {
  .login__container {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.login .heading {
  text-align: center;
  height: 20%;
  width: 100%;
  margin-top: 4.5rem;
}
.login .heading h1 {
  display: block;
  color: #b7a369;
}
.login .form {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 1.2rem;
  box-shadow: 0rem 2px 100px rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 37.5em) {
  .login .form {
    border-radius: 0;
  }
}
.login .form__container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;
}
.login .form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  transition: all 0.3s;
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #b7a369;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

.about {
  padding: 2.5rem 5rem;
  background-color: #ffc904;
}
.about h1 {
  color: #000;
  text-align: center;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  column-gap: 4rem;
}
.about__card {
  height: 55rem;
  width: 38rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 37.5em) {
  .about__card {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about .card__photo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}
.about .card__grad {
  background-image: url("../img/grad.jpg");
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.about .card__sport {
  background-image: url("../img/sport.png");
}
.about .card__major {
  background-image: url("../img/Major.png");
}

.nav {
  background-color: #000;
  height: 10vh;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav {
    flex-flow: column;
    align-items: center;
  }
}
.nav__logo {
  margin-right: auto;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
}
.nav__logo__img {
  height: 2.8rem;
  width: 2.8rem;
}
.nav__logo__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-left: 2rem;
  color: #b7a369;
}
.nav__logo__title:hover {
  cursor: pointer;
}
.nav__link-toggle {
  display: none;
}
.nav__item-container {
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .nav__item-container {
    position: absolute;
    top: 10vh;
    right: -100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    background-color: black;
    width: 100%;
    text-align: center;
    z-index: -1;
  }
}
.nav__item-container__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-transform: uppercase;
  font-size: 2.1rem;
  transition: all 0.1s ease-out;
  padding: 1.2rem;
  height: 100%;
}
.nav__item-container__link:hover {
  transform: scale(1.01);
  border-bottom: 0.2rem solid #fff;
  text-shadow: 0.5rem 4rem 2rem rgba(253, 253, 253, 0.2);
}
.nav__toggle-label {
  position: absolute;
  top: 0;
  right: -100%;
  margin-right: 6rem;
  height: 100%;
  color: white;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 37.5em) {
  .nav__toggle-label {
    display: block;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
  }
}
.nav__toggle-label :hover {
  cursor: pointer;
}
.nav__toggle-label span,
.nav__toggle-label span::before,
.nav__toggle-label span::after {
  display: block;
  background: white;
  height: 0.5rem;
  width: 3.1rem;
  border-radius: 2px;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}
.nav__toggle-label span::before,
.nav__toggle-label span::after {
  content: "";
  position: absolute;
}
.nav__toggle-label span::before {
  bottom: 7px;
}
.nav__toggle-label span::after {
  top: 7px;
}

#nav-toggle:checked ~ .nav__item-container {
  position: absolute;
  top: 10vh;
  right: 0;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: black;
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media only screen and (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(234, 214, 156, 0.8), rgba(183, 163, 105, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-features > * {
  transform: skewY(7deg);
}
@media only screen and (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}
@media only screen and (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
@media only screen and (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #ead69c, #b7a369);
}
@media only screen and (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
