.login {
  width: 100%;
  // background-image: url('../img/student.jpg');
  height: 80rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include respond(phone) {
    background-size: cover;
    height: 100vh;
  }

  &__container {
    position: absolute;
    top: 10rem;
    left: 10rem;
    height: 70%;
    width: 35%;

    @include respond(phone) {
      border-radius: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  .heading {
    text-align: center;
    height: 20%;
    width: 100%;
    margin-top: 4.5rem;
    h1 {
      display: block;
      color: $color-primary;
      @include respond(phone) {
        font-size: 8rem;
      }
    }
  }
  .form {
    background-color: rgba(black, 0.85);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 1.2rem;
    box-shadow: 0rem 2px 100px rgba(white, 0.2);
    width: 70%;
    @include respond(phone) {
      border-radius: 0;
      width: 100%;
      height: 100%;
    }

    &__container {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      align-items: center;

      width: 100%;
      height: 70%;

      button {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
        padding: 1rem 2rem;
        border: 3px solid $color-secondary-dark;
        color: white;
        transition: all 0.5s ease;
        background: transparent;
        &:hover {
          color: $color-secondary-dark;
          background-color: white;
        }
        @include respond(phone) {
          font-size: 3.5rem;
        }
      }

      .forgot-button {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
        padding: 1rem 2rem;
        border: 3px solid $color-secondary-dark;
        color: white;
        transition: all 0.5s ease;
        background: transparent;
        &:hover {
          color: $color-secondary-dark;
          background-color: white;
        }
        @include respond(phone) {
          font-size: 3.5rem;
        }
      }
    }

    &__input {
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rbga(white, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      transition: all 0.3s;
      @include respond(phone) {
        font-size: 3.5rem;
      }
    }
  }
}

.signup {
  width: 100%;
  // background-image: url('../img/knight.jpg');
  height: 80rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .form {
    position: absolute;
    top: 10rem;
    right: 10rem;
    height: auto;
    min-height: 70%;
    width: 35%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(black, 0.85);
    padding-bottom: 2rem;
    @include respond(phone) {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      min-width: 100%;
    }
    h1 {
      @include respond(phone) {
        font-size: 6rem;
      }
    }

    &__container {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    &__input {
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rbga(white, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      transition: all 0.3s;
      @include respond(phone) {
        font-size: 3.5rem;
      }
    }
    &__submit {
      margin: 1.4rem 0;
      width: 50%;
      text-align: center;

      width: 50%;
      font-weight: bold;
      font-size: 1.5rem;

      padding: 1.2rem 2rem;
      border: 3px solid $color-secondary-dark;
      color: white;
      transition: all 0.5s ease;
      background: transparent;
      background-color: black;
      @include respond(phone) {
        font-size: 3.5rem;
      }
      &:hover {
        cursor: pointer;
        color: $color-secondary-dark;
        background-color: white;
      }
    }
  }
}
