/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

a,
a:visited,
a:target {
  text-decoration: none;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.heading-primary--main {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 5.5rem;
  letter-spacing: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 3rem;
  /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 4.3rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-right-small {
  margin-right: 2rem;
}

.u-margin-right-medium {
  margin-right: 5rem;
}

.contact-card {
  width: 35rem;
  max-height: 45rem;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.125);
  margin-top: 2rem;
  overflow: hidden;
}
.contact-card__header-image {
  width: 100%;
  height: 5.3rem;
  padding-top: 2rem;
  background-image: url("https://images.unsplash.com/photo-1525498128493-380d1990a112?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
  background-size: cover;
}
.contact-card__avatar {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  background-image: url("https://writestylesonline.com/wp-content/uploads/2016/08/Follow-These-Steps-for-a-Flawless-Professional-Profile-Picture.jpg");
  background-size: cover;
  background-color: #eeeeee;
  border-radius: 100%;
}
.contact-card__class {
  font-style: italic;
  font-size: 1.85rem;
  background-color: #b7a369;
  width: 80%;
  margin: 0 auto;
  color: white;
  padding: 0.5em 1em;
}
.contact-card__major {
  padding: 0.5em 1em;
  font-size: 1.85rem;
  background-color: #b7a369;
  width: 80%;
  margin: 0 auto;
  color: white;
}
.contact-card__name {
  margin-top: 3.5rem;
  margin-bottom: 0.5em;
  font-size: 1.7rem;
}
.contact-card__link {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1.4rem;
}
.contact-card__link a {
  color: #424242;
  text-decoration: none;
}
.contact-card__link a i {
  margin: 0 1px;
  font-size: 1.6rem;
}
.contact-card__link a:hover {
  background-color: #fafafa;
}
.contact-card__clubs {
  margin-top: 0.5rem;
  padding: 1em 0;
  background-color: #fafafa;
  height: auto;
}
.contact-card__clubs__container {
  height: auto;
  margin-top: 1.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: space-around;
  gap: 1rem;
}
.contact-card__clubs__container__club-name {
  padding: 0.5rem 0.5rem;
  color: white;
  font-size: 1.5rem;
  background-color: #000;
  border-radius: 0.5rem 0.5rem;
}

.Loading {
  height: 50vh;
  width: 100%;
  object-fit: contain;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #ead69c, #b7a369);
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.login {
  width: 100%;
  height: 80rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .login {
    background-size: cover;
    height: 50rem;
  }
}
.login__container {
  position: absolute;
  top: 10rem;
  left: 10rem;
  height: 70%;
  width: 35%;
}
@media only screen and (max-width: 37.5em) {
  .login__container {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.login .heading {
  text-align: center;
  height: 20%;
  width: 100%;
  margin-top: 4.5rem;
}
.login .heading h1 {
  display: block;
  color: #b7a369;
}
.login .form {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 1.2rem;
  box-shadow: 0rem 2px 100px rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 37.5em) {
  .login .form {
    border-radius: 0;
  }
}
.login .form__container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;
}
.login .form__container button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #ffc904;
  color: white;
  transition: all 0.5s ease;
  background: transparent;
}
.login .form__container button:hover {
  color: #ffc904;
  background-color: white;
}
.login .form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  transition: all 0.3s;
}

.signup {
  width: 100%;
  height: 80rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.signup .form {
  position: absolute;
  top: 10rem;
  right: 10rem;
  height: 70%;
  width: 35%;
  display: grid;
  grid-template-rows: 0.8fr 1.2fr;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}
@media only screen and (max-width: 37.5em) {
  .signup .form {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}
.signup .form__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.signup .form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  transition: all 0.3s;
}

.about-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #fff;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}
@media only screen and (max-width: 37.5em) {
  .about-section {
    display: block;
    padding: 2rem 2rem;
    text-align: center;
  }
  .about-section svg {
    display: none;
  }
}
.about-section__description {
  flex: 1;
  padding-right: 5rem;
  z-index: 2;
}
@media only screen and (max-width: 37.5em) {
  .about-section__description {
    padding-bottom: 2.1rem;
    z-index: 3;
  }
}
.about-section__description .title .hide {
  overflow: hidden;
}
.about-section__description h2 {
  font-weight: lighter;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
}
.about-section__description p {
  padding: 3rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
  line-height: 150%;
}
.about-section__description span {
  font-weight: bold;
  color: #ffc904;
}
.about-section__description button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #ffc904;
  color: white;
  transition: all 0.5s ease;
  background: transparent;
}
.about-section__description button:hover {
  color: #ffc904;
  background-color: white;
}
.about-section .image {
  flex: 2;
  overflow: hidden;
}
.about-section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 37.5em) {
  .about-section .image {
    flex: 1;
  }
}

.services {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #fff;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 37.5em) {
  .services {
    display: block;
    padding: 2rem 2rem;
    text-align: center;
  }
}
.services h2 {
  padding-bottom: 5rem;
  font-weight: lighter;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.services p {
  width: 70%;
  padding: 2rem 0rem 4rem 0rem;
}
.services .description {
  flex: 1;
}
.services .description span {
  font-weight: bold;
  color: #ffc904;
}
.services .description .cards {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 37.5em) {
  .services .description .cards {
    justify-content: center;
  }
}
.services .description .cards .card {
  flex-basis: 20rem;
}
.services .description .cards .card .icon {
  display: flex;
  align-items: center;
}
.services .description .cards .card .icon i {
  font-size: 3rem;
  color: #ffc904;
}
.services .description .cards .card .icon h3 {
  margin-left: 1rem;
  background-color: #fff;
  color: #000;
  padding: 1rem;
}
.services .description .cards .card p {
  padding: 3rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
  line-height: 150%;
}
.services .image {
  flex: 2;
  overflow: hidden;
}
.services .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message {
  width: 50%;
  padding: 0.7rem 0.7rem;
  background-color: #ffc904;
  border-radius: 2px;
}
.message h2 {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.message.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.footer {
  height: 10vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(255, 201, 4, 0.5);
}
.footer img {
  height: 2.8rem;
  width: 2.8rem;
}

.about {
  padding: 2.5rem 5rem;
  background-color: #ffc904;
}
.about h1 {
  color: #000;
  text-align: center;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  column-gap: 4rem;
}
.about__card {
  height: 45rem;
  width: 38rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 37.5em) {
  .about__card {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.about .card__photo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}
.about .card__grad {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.nav {
  background-color: #000;
  height: 10vh;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav {
    flex-flow: column;
    align-items: center;
  }
}
.nav__logo {
  margin-right: auto;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
}
.nav__logo__img {
  height: 2.8rem;
  width: 2.8rem;
}
.nav__logo__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-left: 2rem;
  color: #b7a369;
}
.nav__logo__title:hover {
  cursor: pointer;
}
.nav__link-toggle {
  display: none;
}
.nav__item-container {
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .nav__item-container {
    position: absolute;
    top: 10vh;
    right: -100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    background-color: black;
    width: 100%;
    text-align: center;
    z-index: -1;
  }
}
.nav__item-container__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-transform: uppercase;
  font-size: 2.1rem;
  transition: all 0.1s ease-out;
  padding: 1.2rem;
  height: 100%;
}
.nav__item-container__link:hover {
  transform: scale(1.01);
  border-bottom: 0.2rem solid #ffc904;
  text-shadow: 0.5rem 4rem 2rem rgba(253, 253, 253, 0.2);
  cursor: pointer;
}
.nav__item-container__link__active {
  transform: scale(1.01);
  border-bottom: 0.2rem solid #ffc904;
  text-shadow: 0.5rem 4rem 2rem rgba(253, 253, 253, 0.2);
}
.nav__toggle-label {
  position: absolute;
  top: 0;
  right: -100%;
  margin-right: 6rem;
  height: 100%;
  color: white;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 37.5em) {
  .nav__toggle-label {
    display: block;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
  }
}
.nav__toggle-label :hover {
  cursor: pointer;
}
.nav__toggle-label span,
.nav__toggle-label span::before,
.nav__toggle-label span::after {
  display: block;
  background: white;
  height: 0.5rem;
  width: 3.1rem;
  border-radius: 2px;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}
.nav__toggle-label span::before,
.nav__toggle-label span::after {
  content: "";
  position: absolute;
}
.nav__toggle-label span::before {
  bottom: 7px;
}
.nav__toggle-label span::after {
  top: 7px;
}

#nav-toggle:checked ~ .nav__item-container {
  position: absolute;
  top: 10vh;
  right: 0;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: black;
  text-align: center;
}

.link-wrapper {
  position: absolute;
  top: -5%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.link-wrapper__button {
  font-family: "Montserrat", sans-serif;
  position: relative;
  outline: none;
  border: none;
  background-color: #000;
  font-size: 2.4rem;
  font-weight: 5rem;
  color: white;
  letter-spacing: 0.5rem;
  padding: 1rem 2rem;
  margin-left: 0.5rem;
  transition: all 0.4s ease;
  box-shadow: 0 1.2rem #333;
  border-radius: 2rem 2rem;
}
.link-wrapper__button:hover {
  cursor: pointer;
  top: 0.6rem;
  box-shadow: 0 0.6rem #333;
}
.link-wrapper__button:active {
  box-shadow: none;
}
@media only screen and (max-width: 37.5em) {
  .link-wrapper__button {
    padding: 1rem 2.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
}

.home {
  padding: 4rem 4rem;
  background-color: rgba(255, 201, 4, 0.5);
  height: auto;
  min-height: 100rem;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .home {
    padding: 2rem 0.5rem;
  }
}
.home.home__container__card {
  margin-top: 4rem !important;
}
.home__container {
  position: relative;
  height: auto;
  min-height: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: space-around;
  border-radius: 1rem;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 4rem;
  gap: 2.4rem;
}

.profile {
  padding: 4rem 4rem;
  background-color: rgba(255, 201, 4, 0.5);
  height: auto;
  min-height: 100vh;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .profile {
    padding: 2rem 0.5rem;
  }
}
.profile__container {
  position: relative;
  height: auto;
  min-height: 100%;
  margin-top: 5rem;
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
}
.profile__container h1 {
  color: black;
  text-align: center;
  margin-top: 2rem;
  font-size: 5rem !important;
  letter-spacing: 0.4rem;
}
.profile__Form {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.profile__Form__input-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}
@media only screen and (max-width: 37.5em) {
  .profile__Form__input-container {
    width: 100%;
  }
}
.profile__Form__input-container label {
  font-size: 1.8rem;
  font-size: "Lato", sans-serif;
  text-align: center;
  width: 20%;
  padding: 1.5rem 2rem;
}
@media only screen and (max-width: 37.5em) {
  .profile__Form__input-container label {
    font-size: 1.5rem;
  }
}
.profile__Form__input-container input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: black;
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  transition: all 0.3s;
  color: white !important;
  font-family: "Montserrat", sans-serif;
}
.profile__Form__input-container button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #ffc904;
  color: white;
  transition: all 0.5s ease;
  background: transparent;
  background-color: black;
}
.profile__Form__input-container button:hover {
  color: #ffc904;
  background-color: white;
}

/*# sourceMappingURL=index.css.map */
